extends ../layout.pug
block head

block content
  .login-wrap.txt-center
    h3.txt-center Members login
    p Continue with Google to access the dashboard.

    a.btn.google-btn(href="/auth/google") Continue with Google
