footer.global-footer 
    .container
        .footer-links-section
            ul.footer-links
                li: a(href='/required/about') About
                li: a(href='/required/services') Services
                li: a(href='/required/contact') Contact