.navwrap 
    nav.navbar
        h3 logo
        ul.navlist
            li.navitem: a(href='/') Home
            li.navitem: a(href='/required/about') About
            li.navitem: a(href='/pages/p') Page 1
            li.navitem: a(href='/pages/page2') Page 2
            li.navitem: a(href='/contact') Contact
