.dashboard-wrap
    padding 1rem
    max-width 420px
    width 100%
    margin 0 auto
    h1 
        margin-top 2rem
        width fit-content
        margin 1rem auto
        font-size 2rem
    p  
        //border 1px solid red
        margin 0
        font-size .8rem
    img.user-img
        width 5rem
        height 5rem
        border-radius 50%
        object-fit cover
.user-details
    display flex
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    flex-direction column
    justify-content center
    //align-items center
    margin 1rem auto
    //border 1px solid alpha - 89%
    width 420px
.user
    display flex
    gap 1rem
    border 1px solid alpha - 40%
    padding 1rem
    width fit-content

    border-radius 8px
.logout-btn 
    //background beta
    border 1px solid alpha
    color #fff
    padding 0.5rem 1rem
    border-radius 4px
    font-size .8rem
    font-weight bold
    //margin-right 0
    &:hover 
        background dark
form.logout-form 
    margin-top .4rem
    //border 1px solid red //alpha - 80%
    //display flex
    //justify-content right
.awards-wrap 
    margin-top .6rem
    display flex 
    flex-direction column
    align-items left
    padding 1rem
    gap .5rem
    h2 
        margin-bottom 1rem  
    .award 
        display flex
        gap 1rem
        align-items center
        padding-bottom .3rem
        border-bottom 1px solid alpha - 30%
    p  
        font-size 1.1rem

        position relative 
        width 100%
    .badge 
        font-size 1.1rem
    span 

        color alpha

        right 0
        // margin-left auto
        // margin-right 0
.award-btns
    display flex
    gap 1rem
    width 100%
    background alpha - 60%
    padding 0.5rem
    .award-btn
        padding 0.4rem 0.8rem
        border-radius 4px
        font-size 1rem
        border 1px solid alpha
        color alpha
.play-btns
    display flex
    gap 1rem
    width 100%
    background alpha //- 60%
    padding 0.5rem
    .play-btn
        padding 0.4rem 0.8rem
        border-radius 4px
        font-size 1rem
        border 1px solid alpha - 40%
        color alpha - 40%