footer.global-footer
 background alpha - 60%
 position relative
 margin-top 2rem
 bottom 0
 width 100%
 .footer-links-section
    //background pink
    display flex
    justify-content center
    flex-direction: column
    padding .5rem 1rem
.footer-links
    //border 1px solid red
    display flex
    list-style: none
    margin .4rem auto
    gap 1rem
    a 
        color alpha
