

@require "global"
@require "header-nav"
@require "font-control"
@require "responsive-grid"
@require "page"
@require "contact-modal"
@require "footer"
@require "cookie-consent"
@require "inner-nav"
@require "auth"
@require "dashboard"
@require "word-game"
// ✅ Game 1 (Wordle changed to word-game. main.styl  also been updated Before your fuck-ups began) 
