extends ../layout.pug

block head

block content

  if user
    - var display = user.displayName || user.email || "Member";
    p Logged in as #{display}

    if user.photo
      img(src=user.photo alt="Profile photo" width="72" height="72" loading="lazy")

    if user.email
      p #{user.email}

    p
      button(type="button" onclick="window.aptatiOpenCookieSettings && window.aptatiOpenCookieSettings()")
        | Cookie settings
  else
    p You’re logged in, but no user record is loaded yet.

    hr


    include ../partials/inner-nav.pug
  form(method="post" action="/logout")
    button(type="submit") Logout
