//- views/games/game1.pug
extends ../layout

block content
  img(src="/images/og/placeholder1.jpg", alt="")
  include ../partials/wordle-game
  +wordleGame({ gameKey: 'wordle', idx: 0, maxIdx: 49, premiumEnabled: false, dayKey: dayKey })

block scripts
  script(type="module" src="/js/games/wordle/index.js" defer)
