//- views/games/word-game.pug
extends ../layout.pug
include ../partials/wordle-game.pug

block content
  +wordleGame({
    gameSlug: 'daily-word',
    gameTitle: 'Daily Word',
    apiBase: '/api/games/daily-word',
    prevAnswersEndpoint: '/api/games/daily-word/answers',
    dayKey: (typeof dayKey !== 'undefined' ? dayKey : ''),
    idx: (typeof idx !== 'undefined' ? idx : 0),
    maxIdx: (typeof maxIdx !== 'undefined' ? maxIdx : 49),
    premiumEnabled: (typeof premiumEnabled !== 'undefined' ? premiumEnabled : false)
  })

append scripts
  //- ESM module (module scripts are deferred automatically)
  script(type="module" src="/js/games/daily-word/index.js")
